.pricing-wrap {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin: 0px -15px;
}

.pricing{
  width: 340px;
  margin: 0 15px;
}

.pricing--item {
  font-family: 'Open Sans';
  font-weight: 400;
  font-size: 14px;
  line-height: 40px;
  background-color: #FFFFFF;
  color: #86878B;
  margin-bottom: 4px;
  text-align: center;
}

.pricing-tarif {
  font-weight: 700;
  font-size: 20px;
  line-height: 50px;
  background-color: #333333;
  color: #fff;
  margin-bottom: 2px;
}

.pricing-cost {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 35px;
  line-height: 100px;
  background-color: #333333;
  color: #fff;
  margin-bottom: 2px;
}


.pricing-info {
  font-weight: 600;
  line-height: 50px;
  background-color: #333333;
  color: rgba(255, 255, 255, 0.5);
  margin-bottom: 2px;
}