.main-title {
    text-align: center;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    color: #212121;
    margin: 80px auto 34px;
}

.line {
    width: 64px;
    height: 2px;
    border: 1px solid #E72424;
    margin: 0px auto 34px;
}

.main-text {
    text-align: center;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #86878B;
    margin: 0 auto 68px;
}