.navigation {
    background: #000000;
    position: sticky;
    top: 0px;
    z-index: 4;
}

.navigation-wrap {
    position: sticky;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 30px;
    padding: 18px 0;
}

.navigation-logo {}

.navigation-logo--elementfirst {
    width: 68px;
    height: 31px;
    color: #FFFF;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 35px;
}

.navigation-logo--elementsecond {
    width: 68px;
    height: 31px;
    color: #EC7979;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 35px;
}

.navigation-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    column-gap: 25px;

}

.navigation-list--item {
    height: 20px;
    margin: 0 15px;
    cursor: pointer;
    transition: all 0.2s;
}

.navigation-list--item a {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    text-transform: capitalize;
    color: rgba(255, 255, 255, 0.7);
}

.navigation-list--item:hover {
    transform: translate(0px, -3px);
}

.navigation-list--item:hover::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: #EC7979;
}