.pricing {
  background: #F5F5F5;
  padding: 80px 0px 39px;
}

.title {
  text-align: center;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 42px;
  color: #212121;
}

.title::after {
  content: "";
  width: 64px;
  height: 0.1px;
  border: 1px solid #E72424;
  margin: 34px auto 34px;
  display: block;
  background-color: #E72424;
}

.text {
  text-align: center;
  height: 19px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #86878B;
  margin: 0 auto 68px;
}


.pricing-wrap {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin: 0px -15px;
}

.pricing-desc {
  width: 340px;
  margin: 0 15px;
}

.pricing-desc:last-child {
  margin-bottom: 0px;
}

.pricing-desc--item {
  font-family: 'Open Sans';
  font-weight: 400;
  font-size: 14px;
  line-height: 40px;
  background-color: #FFFFFF;
  color: #86878B;
  margin-bottom: 4px;
  text-align: center;
}

.pricing-desc--tarif {
  font-weight: 700;
  font-size: 20px;
  line-height: 50px;
  background-color: #333333;
  color: #fff;
  margin-bottom: 2px;
}

.pricing-desc--cost {
  padding: 30px 0;
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 35px;
  background-color: #333333;
  color: #fff;
  margin-bottom: 2px;
}


.pricing-desc--info {
  font-weight: 600;
  line-height: 50px;
  background-color: #333333;
  color: rgba(255, 255, 255, 0.5);
  margin-bottom: 2px;
}